BEGIN;

-- Running upgrade b35f21696b99 -> 73ee1c2f0419

CREATE TABLE admin_permissions (
    id SERIAL NOT NULL, 
    name VARCHAR(100) NOT NULL, 
    description VARCHAR(255), 
    PRIMARY KEY (id)
);

CREATE UNIQUE INDEX ix_admin_permissions_name ON admin_permissions (name);

CREATE TABLE admin_roles (
    id SERIAL NOT NULL, 
    name VARCHAR(50) NOT NULL, 
    description VARCHAR(255), 
    PRIMARY KEY (id), 
    UNIQUE (name)
);

CREATE TABLE admin_role_permissions (
    role_id INTEGER NOT NULL, 
    permission_id INTEGER NOT NULL, 
    PRIMARY KEY (role_id, permission_id), 
    FOREIGN KEY(permission_id) REFERENCES admin_permissions (id) ON DELETE CASCADE, 
    FOREIGN KEY(role_id) REFERENCES admin_roles (id) ON DELETE CASCADE
);

CREATE TABLE admin_users (
    id SERIAL NOT NULL, 
    full_name VARCHAR(255) NOT NULL, 
    email VARCHAR(255) NOT NULL, 
    phone VARCHAR(20), 
    password_hash VARCHAR(255) NOT NULL, 
    role_id INTEGER NOT NULL, 
    is_active BOOLEAN NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    last_login TIMESTAMP WITH TIME ZONE, 
    created_by INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(created_by) REFERENCES admin_users (id) ON DELETE SET NULL, 
    FOREIGN KEY(role_id) REFERENCES admin_roles (id)
);

CREATE UNIQUE INDEX ix_admin_users_email ON admin_users (email);

CREATE TABLE admin_audit_logs (
    id SERIAL NOT NULL, 
    admin_id INTEGER, 
    action VARCHAR(255) NOT NULL, 
    resource_type VARCHAR(100), 
    resource_id VARCHAR(100), 
    old_value TEXT, 
    new_value TEXT, 
    ip_address VARCHAR(50), 
    reason TEXT, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(admin_id) REFERENCES admin_users (id) ON DELETE SET NULL
);

CREATE INDEX ix_admin_audit_logs_action ON admin_audit_logs (action);

CREATE TABLE admin_notifications (
    id SERIAL NOT NULL, 
    admin_id INTEGER NOT NULL, 
    title VARCHAR(255) NOT NULL, 
    message TEXT NOT NULL, 
    type VARCHAR(50) NOT NULL, 
    is_read BOOLEAN NOT NULL, 
    reference_id VARCHAR(100), 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(admin_id) REFERENCES admin_users (id) ON DELETE CASCADE
);

CREATE TABLE support_tickets (
    id SERIAL NOT NULL, 
    ticket_id VARCHAR(50) NOT NULL, 
    title VARCHAR(255) NOT NULL, 
    description TEXT NOT NULL, 
    category VARCHAR(50) NOT NULL, 
    priority VARCHAR(20) NOT NULL, 
    status VARCHAR(50) NOT NULL, 
    requester_type VARCHAR(50) NOT NULL, 
    requester_id INTEGER NOT NULL, 
    requester_name VARCHAR(255), 
    requester_phone VARCHAR(50), 
    requester_email VARCHAR(255), 
    company_id INTEGER, 
    driver_id INTEGER, 
    vehicle_id INTEGER, 
    trip_id INTEGER, 
    assigned_agent_id INTEGER, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    resolved_at TIMESTAMP WITH TIME ZONE, 
    closed_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(assigned_agent_id) REFERENCES admin_users (id) ON DELETE SET NULL, 
    FOREIGN KEY(company_id) REFERENCES companies (id) ON DELETE SET NULL, 
    FOREIGN KEY(driver_id) REFERENCES drivers (id) ON DELETE SET NULL, 
    FOREIGN KEY(trip_id) REFERENCES trips (id) ON DELETE SET NULL, 
    FOREIGN KEY(vehicle_id) REFERENCES vehicles (id) ON DELETE SET NULL
);

CREATE UNIQUE INDEX ix_support_tickets_ticket_id ON support_tickets (ticket_id);

CREATE TABLE admin_password_reset_requests (
    id SERIAL NOT NULL, 
    requester_type VARCHAR(50) NOT NULL, 
    requester_email_phone VARCHAR(255) NOT NULL, 
    reason TEXT, 
    status VARCHAR(50) NOT NULL, 
    ticket_id INTEGER, 
    resolved_by_id INTEGER, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(resolved_by_id) REFERENCES admin_users (id) ON DELETE SET NULL, 
    FOREIGN KEY(ticket_id) REFERENCES support_tickets (id) ON DELETE SET NULL
);

CREATE TABLE support_ticket_messages (
    id SERIAL NOT NULL, 
    ticket_id INTEGER NOT NULL, 
    message_type VARCHAR(50) NOT NULL, 
    content TEXT NOT NULL, 
    sender_type VARCHAR(50) NOT NULL, 
    sender_id INTEGER, 
    sender_name VARCHAR(255), 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(ticket_id) REFERENCES support_tickets (id) ON DELETE CASCADE
);

CREATE TABLE support_ticket_attachments (
    id SERIAL NOT NULL, 
    ticket_id INTEGER NOT NULL, 
    message_id INTEGER, 
    file_name VARCHAR(255) NOT NULL, 
    file_url VARCHAR(500) NOT NULL, 
    file_type VARCHAR(100) NOT NULL, 
    file_size_bytes INTEGER, 
    uploaded_by_type VARCHAR(50) NOT NULL, 
    uploaded_by_id INTEGER, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(message_id) REFERENCES support_ticket_messages (id) ON DELETE CASCADE, 
    FOREIGN KEY(ticket_id) REFERENCES support_tickets (id) ON DELETE CASCADE
);

DROP INDEX ix_vehicle_locations_company_id;

DROP INDEX ix_vehicle_locations_device_id;

DROP INDEX ix_vehicle_locations_driver_id;

DROP INDEX ix_vehicle_locations_event_fingerprint;

DROP INDEX ix_vehicle_locations_original_driver_location_id;

DROP INDEX ix_vehicle_locations_timestamp;

DROP INDEX ix_vehicle_locations_vehicle_id;

DROP TABLE vehicle_locations;

DROP INDEX ix_intelligence_conditions_alert_id;

DROP INDEX ix_intelligence_conditions_company_id;

DROP INDEX ix_intelligence_conditions_driver_id;

DROP INDEX ix_intelligence_conditions_status;

DROP INDEX ix_intelligence_conditions_trip_id;

DROP INDEX ix_intelligence_conditions_vehicle_id;

DROP INDEX uq_active_condition_per_vehicle;

DROP TABLE intelligence_conditions;

DROP TABLE vehicle_current_locations;

ALTER TABLE documents ALTER COLUMN verification_status DROP DEFAULT;

ALTER TABLE documents DROP COLUMN name_encrypted;

ALTER TABLE driver_locations DROP COLUMN latitude_encrypted;

ALTER TABLE driver_locations DROP COLUMN longitude_encrypted;

DROP INDEX uq_drivers_phone_number_blind;

ALTER TABLE drivers DROP COLUMN phone_number_encrypted;

ALTER TABLE drivers DROP COLUMN phone_number_blind;

COMMENT ON COLUMN expenses.reviewed_by IS 'User ID of the admin who approved/rejected';

COMMENT ON COLUMN expenses.reviewed_at IS 'Timestamp of approval/rejection';

COMMENT ON COLUMN expenses.rejection_reason IS 'Reason for rejection, required when rejecting';

ALTER TABLE expenses DROP COLUMN amount_encrypted;

ALTER TABLE location_alerts ALTER COLUMN details TYPE VARCHAR(500);

COMMENT ON COLUMN operational_events.company_id IS 'Tenant isolation boundary.';

ALTER TABLE trips ADD COLUMN receiver_name VARCHAR(255);

ALTER TABLE trips ADD COLUMN receiver_phone VARCHAR(50);

ALTER TABLE trips ADD COLUMN receiver_company VARCHAR(255);

ALTER TABLE trips ADD COLUMN receiver_address TEXT;

ALTER TABLE trips ADD COLUMN receiver_city VARCHAR(100);

ALTER TABLE trips ADD COLUMN receiver_state VARCHAR(100);

ALTER TABLE trips ADD COLUMN receiver_pincode VARCHAR(20);

ALTER TABLE trips ADD COLUMN receiver_notes TEXT;

COMMENT ON COLUMN trips.expected_revenue IS 'Expected revenue at time of intelligence evaluation';

COMMENT ON COLUMN trips.expected_cost IS 'Expected total cost at time of intelligence evaluation';

COMMENT ON COLUMN trips.expected_profit IS 'Expected profit at time of intelligence evaluation';

COMMENT ON COLUMN trips.expected_margin IS 'Expected profit margin percentage at dispatch';

COMMENT ON COLUMN trips.recommendation_decision IS 'TAKE, REVIEW, or AVOID';

COMMENT ON COLUMN trips.recommendation_at IS 'When the intelligence evaluation was computed';

ALTER TABLE trips ALTER COLUMN intelligence_version DROP DEFAULT;

COMMENT ON COLUMN trips.intelligence_version IS 'Version of the calculation engine that produced this prediction';

COMMENT ON COLUMN trips.confidence_level IS 'HIGH, MEDIUM, LOW, INSUFFICIENT';

COMMENT ON COLUMN trips.risk_level IS 'LOW, MEDIUM, HIGH';

COMMENT ON COLUMN trips.recommendation_outcome IS 'OUTPERFORMED, MET_EXPECTATION, UNDERPERFORMED, LOSS, INSUFFICIENT_DATA';

COMMENT ON COLUMN trips.intelligence_snapshot IS 'Immutable pre-trip intelligence calculation preserved at dispatch';

COMMENT ON COLUMN trips.customer_name IS 'Customer/company name for this trip';

COMMENT ON COLUMN trips.customer_phone IS 'Customer contact phone number';

COMMENT ON COLUMN trips.customer_contact_person IS 'Contact person at customer site';

COMMENT ON COLUMN trips.instructions IS 'Delivery/handling instructions for the driver';

DROP INDEX ix_trips_confidence_level;

DROP INDEX ix_trips_risk_level;

ALTER TABLE trips DROP COLUMN destination_lng_encrypted;

ALTER TABLE trips DROP COLUMN revenue_encrypted;

ALTER TABLE trips DROP COLUMN origin_lng_encrypted;

ALTER TABLE trips DROP COLUMN origin_lat_encrypted;

ALTER TABLE trips DROP COLUMN expected_revenue_encrypted;

ALTER TABLE trips DROP COLUMN destination_lat_encrypted;

ALTER TABLE vehicles ALTER COLUMN rc_url TYPE VARCHAR(255);

ALTER TABLE vehicles DROP COLUMN last_known_lng;

ALTER TABLE vehicles DROP COLUMN last_location_at;

ALTER TABLE vehicles DROP COLUMN last_location_source;

ALTER TABLE vehicles DROP COLUMN last_known_lat;

UPDATE alembic_version SET version_num='73ee1c2f0419' WHERE alembic_version.version_num = 'b35f21696b99';

COMMIT;

